*
{
    font-family: Tahoma;
}

header
{
    background-color: tomato;
    color: white;
    padding: 10px;
}

#glowny
{
    background-color: seashell;
    height: 778px;
    overflow: auto;
}

#stopka1, #stopka2, #stopka3 , #stopka4
{
    background-color: tomato;
    color: white;
    width: 25%;
    height: 160px;
    float: left;
}

.opinia
{
    background-color: white;
    color: dimgray;
    width: 60%;
    height: 220px;
    margin: 40px auto 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px dimgray;
}

img
{
    float: left;
    margin: 10px;
    border-radius: 10px;
}

p
{
    padding: 10px;
    font-size: 150%;
    font-style: italic;
}

h1, h2
{
    text-align: center;
}

h4
{
    text-align: right;
    margin-right: 40px;
    font-size: 150%;
    font-style: italic;
}

a
{
    color: white;
}